* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: #434343;
    transition: all 0.7s;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    display: block;
    width: 60px;
    height: 30px;
    background: url("https://drive.google.com/uc?export=view&id=1oZ33nGvo7_TpwMAO3UcM2kUH_T8Gzpdg");
    transition: all 0.25s;
}

.header__bulb {
    width: 64px;
    height: 86.17px;
    background: url("https://drive.google.com/uc?export=view&id=1L_sQ9T1qQ3b15MqumswoufyqNbyKrn7X");
    transition: all 0.5s;
}

.todo__list-item:last-child{
margin-bottom: 0;
}

.scrollbar-present{
    padding-right: 5px;
  }
  
  .todo__list::-webkit-scrollbar{
    width: 10px; 
    padding-left: 10px;
  }
  
  .todo__list::-webkit-scrollbar-track {
    background: #ffffff; 
    border-radius: 5px;
  }
  
  .todo__list::-webkit-scrollbar-thumb {
    background-color: #3f3f3f; 
    border-radius: 5px; 
   }

.todo__list{
    overflow-y: auto;
    margin-bottom: 20px;
    flex: 1;
}

.todo {
    max-width: 380px;
    background-color: #D6D6D6;
    margin: 0 auto;
    padding: 30px;
    border-radius: 15px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.todo__nav input {
    width: 73%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #434343;
    padding: 0 15px;
    font-size: 16px;
}

.todo__nav {
    margin: 15px 0 25px 0;
}

.todo__list-item {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: #434343;
    margin-bottom: 20px;
    padding: 0 15px;
    color: white;
    position: relative;
}

.todo__list-item p {
    font-size: 16px;
    line-height: 40px;
}

.todo__add {
    width: 23%;
    height: 40px;
    border-radius: 10px;
    background-color: #434343;
    color: white;
    cursor: pointer;

}

footer {
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 300px;
    left: calc(50% - 150px);
}

.footer__text {
    color: white;
    font-size: 20px;
    text-align: center;
}

.delete {
    width: 25.6px;
    height: 29.2px;
    background: url("https://drive.google.com/uc?export=view&id=1ux_r50SULrUAWnN5h0ZhX9JS9dCDbC0S") 0 0 /cover;
    position: absolute;
    right: 10px;
    top: 5px;
    opacity: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.delete:hover{
    animation: jump 0.3s linear;

}

@keyframes jump{
    0%{
   transform: rotate(0);
    }

    25%{
   transform: rotate(40deg);
    }

    50%{
   transform: rotate(-40deg);
    }

    75%{
   transform: rotate(-20deg);
    }
    100%{
   transform: rotate(0);
    }
}

.todo__list-item:hover .delete {
    opacity: 1;
}

.active__btn {
    background: url("https://drive.google.com/uc?export=view&id=10CBHJDS0IkvYnVz6YzoA0qfXexA1v8Xf");
}

.active__bulb {
    background: url("https://drive.google.com/uc?export=view&id=1Ye7LhYoNPjdTykPO4_5kDPgQWSjDJeP1");
}

.active__body {
    background-color: white;
}

.active__todo {
    background-color: #f3f3f3;
    color: black;
}

.active__text {
    color: black;
}

.active__delete {
    background: url("https://drive.google.com/uc?export=view&id=1M6fRfojO3RCFOebFknnjgn7q7HbtXS_a") 0 0 /cover;
}